/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --header-text-color: #000028;
  --corner-color: #ff0070;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --main-font: 'IBM Plex mono';
  --text-size: 18px;
  --regular-weight: 400;
  --bold-weight: 700;
}
